.git
.gitignore
.next
node_modules
tools/google-cloud-sdk
terraform
README.md
Dockerfile
.dockerignore
.gcloudignore
.env
.env.local
.env.production
.env.development
npm-debug.log
yarn-error.log
.DS_Store
